# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Data and Models
data/Raw Data/
data/Raw_Data_Backup/
checkpoints/*
!checkpoints/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs and Results
results/runs/
*.log

# Tensorboard
runs/

# Jupyter Notebook
.ipynb_checkpoints